--
-- PostgreSQL database dump
--

\restrict uR5gTadD6njqwPw5F4wpPJdkKje9a7vxQQmOoEykIxsC4H5d15k3nde6wi5Wvbe

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bairro; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bairro (
    codbairro integer NOT NULL,
    nomebairro character varying(120) NOT NULL
);


--
-- Name: bairro_codbairro_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.bairro ALTER COLUMN codbairro ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bairro_codbairro_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cep; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cep (
    codcep integer NOT NULL,
    numerocep character varying(9) NOT NULL
);


--
-- Name: cep_codcep_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cep ALTER COLUMN codcep ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cep_codcep_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cidade; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cidade (
    codcidade integer NOT NULL,
    nomecidade character varying(120) NOT NULL,
    coduffk integer NOT NULL
);


--
-- Name: cidade_codcidade_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cidade ALTER COLUMN codcidade ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cidade_codcidade_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cliente (
    codcliente integer NOT NULL,
    nomecliente character varying(120) NOT NULL,
    codbairrofk integer NOT NULL,
    codcepfk integer NOT NULL,
    codcidadefk integer NOT NULL,
    codruafk integer NOT NULL,
    codsexofk integer NOT NULL
);


--
-- Name: cliente_codcliente_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cliente ALTER COLUMN codcliente ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_codcliente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: compra; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.compra (
    codcompra integer NOT NULL,
    datacompra date NOT NULL,
    codclientefk integer NOT NULL
);


--
-- Name: compra_codcompra_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.compra ALTER COLUMN codcompra ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.compra_codcompra_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: compraproduto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.compraproduto (
    quantidade integer NOT NULL,
    valorcp numeric(12,2) NOT NULL,
    codcomprafk integer NOT NULL,
    codprodutofk integer NOT NULL
);


--
-- Name: fornecedor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fornecedor (
    codfornecedor integer NOT NULL,
    emailfornecedor character varying(120) NOT NULL,
    nomefornecedor character varying(120) NOT NULL,
    telefonefornecedor character varying(20) NOT NULL,
    codbairrofk integer NOT NULL,
    codcepfk integer NOT NULL,
    codcidadefk integer NOT NULL,
    codruafk integer NOT NULL
);


--
-- Name: fornecedor_codfornecedor_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.fornecedor ALTER COLUMN codfornecedor ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fornecedor_codfornecedor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: marca; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.marca (
    codmarca integer NOT NULL,
    nomemarca character varying(80) NOT NULL
);


--
-- Name: marca_codmarca_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.marca ALTER COLUMN codmarca ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.marca_codmarca_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: produto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.produto (
    codproduto integer NOT NULL,
    nomeproduto character varying(120) NOT NULL,
    quantidade integer NOT NULL,
    valor numeric(12,2) NOT NULL,
    codfornecedorfk integer NOT NULL,
    codmarcafk integer NOT NULL,
    codtipofk integer NOT NULL
);


--
-- Name: produto_codproduto_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.produto ALTER COLUMN codproduto ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.produto_codproduto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rua; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rua (
    codrua integer NOT NULL,
    nomerua character varying(120) NOT NULL
);


--
-- Name: rua_codrua_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.rua ALTER COLUMN codrua ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rua_codrua_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sexo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sexo (
    codsexo integer NOT NULL,
    nomesexo character varying(20) NOT NULL
);


--
-- Name: sexo_codsexo_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sexo ALTER COLUMN codsexo ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sexo_codsexo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tipo (
    codtipo integer NOT NULL,
    nometipo character varying(80) NOT NULL
);


--
-- Name: tipo_codtipo_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.tipo ALTER COLUMN codtipo ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tipo_codtipo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: uf; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.uf (
    coduf integer NOT NULL,
    nomeuf character varying(60) NOT NULL,
    siglauf character varying(2) NOT NULL
);


--
-- Name: uf_coduf_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.uf ALTER COLUMN coduf ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.uf_coduf_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bairro bairro_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bairro
    ADD CONSTRAINT bairro_pkey PRIMARY KEY (codbairro);


--
-- Name: cep cep_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cep
    ADD CONSTRAINT cep_pkey PRIMARY KEY (codcep);


--
-- Name: cidade cidade_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cidade
    ADD CONSTRAINT cidade_pkey PRIMARY KEY (codcidade);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (codcliente);


--
-- Name: compra compra_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.compra
    ADD CONSTRAINT compra_pkey PRIMARY KEY (codcompra);


--
-- Name: compraproduto compraproduto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.compraproduto
    ADD CONSTRAINT compraproduto_pkey PRIMARY KEY (codcomprafk, codprodutofk);


--
-- Name: fornecedor fornecedor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fornecedor
    ADD CONSTRAINT fornecedor_pkey PRIMARY KEY (codfornecedor);


--
-- Name: marca marca_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.marca
    ADD CONSTRAINT marca_pkey PRIMARY KEY (codmarca);


--
-- Name: produto produto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT produto_pkey PRIMARY KEY (codproduto);


--
-- Name: rua rua_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rua
    ADD CONSTRAINT rua_pkey PRIMARY KEY (codrua);


--
-- Name: sexo sexo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sexo
    ADD CONSTRAINT sexo_pkey PRIMARY KEY (codsexo);


--
-- Name: tipo tipo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tipo
    ADD CONSTRAINT tipo_pkey PRIMARY KEY (codtipo);


--
-- Name: uf uf_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.uf
    ADD CONSTRAINT uf_pkey PRIMARY KEY (coduf);


--
-- Name: cliente fk2obhogefa266rgg49aqvfaftb; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT fk2obhogefa266rgg49aqvfaftb FOREIGN KEY (codcepfk) REFERENCES public.cep(codcep);


--
-- Name: compraproduto fk4v4a77w4humlkjgd9xjulrihk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.compraproduto
    ADD CONSTRAINT fk4v4a77w4humlkjgd9xjulrihk FOREIGN KEY (codprodutofk) REFERENCES public.produto(codproduto);


--
-- Name: cliente fk6jnepebuw0257iwstnhrqpwt9; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT fk6jnepebuw0257iwstnhrqpwt9 FOREIGN KEY (codruafk) REFERENCES public.rua(codrua);


--
-- Name: cliente fk6nwkttq4yvmr7uk4bm3oxjrc4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT fk6nwkttq4yvmr7uk4bm3oxjrc4 FOREIGN KEY (codcidadefk) REFERENCES public.cidade(codcidade);


--
-- Name: cidade fk6vf6lxav5dbpxvu64icfynj8a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cidade
    ADD CONSTRAINT fk6vf6lxav5dbpxvu64icfynj8a FOREIGN KEY (coduffk) REFERENCES public.uf(coduf);


--
-- Name: produto fkbn67ttr1gc6q6a0fje7da8l0j; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT fkbn67ttr1gc6q6a0fje7da8l0j FOREIGN KEY (codmarcafk) REFERENCES public.marca(codmarca);


--
-- Name: fornecedor fkcvtrjikpvpqlcc08dsaguhai6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fornecedor
    ADD CONSTRAINT fkcvtrjikpvpqlcc08dsaguhai6 FOREIGN KEY (codcepfk) REFERENCES public.cep(codcep);


--
-- Name: produto fkedtvuqbd5me8tusnorda8uru0; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT fkedtvuqbd5me8tusnorda8uru0 FOREIGN KEY (codfornecedorfk) REFERENCES public.fornecedor(codfornecedor);


--
-- Name: fornecedor fkfjeacte2dj81w6ltxaagvmdyw; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fornecedor
    ADD CONSTRAINT fkfjeacte2dj81w6ltxaagvmdyw FOREIGN KEY (codbairrofk) REFERENCES public.bairro(codbairro);


--
-- Name: fornecedor fkgo5uotcaxx99tkjr5hc1i6dql; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fornecedor
    ADD CONSTRAINT fkgo5uotcaxx99tkjr5hc1i6dql FOREIGN KEY (codcidadefk) REFERENCES public.cidade(codcidade);


--
-- Name: compraproduto fkgq80f2ou8fljb6ie2mwtesryd; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.compraproduto
    ADD CONSTRAINT fkgq80f2ou8fljb6ie2mwtesryd FOREIGN KEY (codcomprafk) REFERENCES public.compra(codcompra);


--
-- Name: cliente fkiedlj4j1jp15glx2bt1esvykj; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT fkiedlj4j1jp15glx2bt1esvykj FOREIGN KEY (codbairrofk) REFERENCES public.bairro(codbairro);


--
-- Name: cliente fkldt479y0306ut2fo0eovspmv2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT fkldt479y0306ut2fo0eovspmv2 FOREIGN KEY (codsexofk) REFERENCES public.sexo(codsexo);


--
-- Name: fornecedor fklp1w2s14eysbbr2bcfg51limw; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fornecedor
    ADD CONSTRAINT fklp1w2s14eysbbr2bcfg51limw FOREIGN KEY (codruafk) REFERENCES public.rua(codrua);


--
-- Name: compra fko7yq8qtdkuqwa1g2ly8s9sda4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.compra
    ADD CONSTRAINT fko7yq8qtdkuqwa1g2ly8s9sda4 FOREIGN KEY (codclientefk) REFERENCES public.cliente(codcliente);


--
-- Name: produto fkptiwubyt6wgmmiupyam8a3xn6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT fkptiwubyt6wgmmiupyam8a3xn6 FOREIGN KEY (codtipofk) REFERENCES public.tipo(codtipo);


--
-- PostgreSQL database dump complete
--

\unrestrict uR5gTadD6njqwPw5F4wpPJdkKje9a7vxQQmOoEykIxsC4H5d15k3nde6wi5Wvbe

